body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Racing Sans One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb; 
    min-width: 900px;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out; 
}

/* header */
header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out;
}

header h6{
    position: absolute;
    display: flex;
    width: fit-content;
}

header button{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#searchIcon {
    position: absolute;
    scale: 65%;
    top: 15px;
    margin-left: 120px;
}

.profile-icon{
    position: absolute;
    scale: 65%;
    top: 15px;
    margin-left: 160px;
}

.cart-icon{
    position: absolute;
    scale: 65%;
    top: 15px;
    margin-left: 200px;
}

/* font */
h1 {
    color: #000;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
}

h6{
    color: #0F0F15;
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

/* main body */
main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#main-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    min-width: 900px;
    height: 75px;
    background-color: white;
    box-shadow: 0px 3px 3px 0px rgba(48, 33, 33, 0.10);
    z-index: 100;
}
/* rest of header information in style.css */

.home-screen {
    position: relative;
    scale: 70%;
    height: 0px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.welcome{
    position: absolute;
    scale: 90%;
    left: -100px;
    top: -60px;
    align-content: left;
}

.background{
    margin-top: 20px;
    margin-left: 25px;
    width: 975.65px;
    height: 836px;
    overflow: hidden;
}

.img-product {
    display: block;
    position: relative;
    width: 140%;
    height: auto;
    z-index:-1;
    opacity: 80%;
    overflow: hidden;
    transform: translate(-220px, -480px);
    filter: blur(7px) saturate(110%) contrast(110%);
}

.text1{
    position: absolute;
    overflow: hidden; 
    top: -190px;
    left: -25px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 237px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: -12.5px;
    white-space: nowrap;
    opacity: 0.8;
    mix-blend-mode: plus-lighter;
    filter: blur(2px);
    clip-path: polygon(5% 10%, 100% 0, 100% 100%, 5% 100%);
}
    

/* .backImage {
    position: relative;
    scale:95%;
    opacity: 100%;
    left: 0px;
    align-items: center;
} */

.backTone{
    position: absolute;
    scale:95%;
    opacity: 60%;
    align-items: center;
    left: 0px;
    mix-blend-mode: soft-light;
    top: 0px;
}

.backHam {
    position: absolute;
    scale: 90%;
    top: 15px;
    right: -170px;
}

/* small menu thing */
.menu{
    position: absolute;
    left: -160px;
    top: 600px;
}

nav h6{
    position: absolute;
    width: fit-content;
    top: -50px;
    left: 350px;
    cursor: pointer;
}

.shop-link{
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 17.5%;
}

.about-link{
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 35%;
}

nav h6:hover{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #FFCFCF;
}

.right-corner{
    position: absolute;
    stroke-width: 6px;
    stroke: #572301;
    width: 61px;
    height: 58px;
    flex-shrink: 0;
    top: 750px;
    right: -25px;
}

.left-corner{
    position: absolute;
    stroke-width: 4px;
    stroke: #572301;
    width: 43px;
    height: 41px;
    flex-shrink: 0;
    left: 0px;
    top: 60px;
}

/* featured items section */
.shop {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1255px;
    height: 0;
}

#rectangle{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 500px;
    background:#C5DDFF;
}

.pattern-header{
    position: absolute;
    width: 80%;
    height: auto;
    top: 20px;
}

.featured-text {
    position: absolute;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20px;
} 

.featured-items{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 900px;
    height: 0px;
    top: 70px;
}

.featured-text h1 {
    position: relative;
    width: 100%;
    height: auto;
    top: 20px;
}

.owlPin {
    position: absolute;
    scale: 65%;
    left: -50px;
}

.catPin {
    position: absolute;
    scale: 65%;
}

.moreItems {
    position: absolute;
    scale: 65%;
    right: -50px;
}

.pattern-design-1 {
    position: absolute;
    right: -80px;
    bottom: -300px;
    scale: 70%;
}

/* about section */
.about {
    position: absolute;
    top: 1136px;
    width: 800px;
    height: 400px;
}

.about-description {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 260px;
    flex-shrink: 0;
    left: -30px;
    background: #F6F1F1;
    margin-top: 65px;
    padding: 5px;
    box-shadow: 0px 3px 3px 0px rgba(65, 54, 54, 0.1);
}

.about-description h2{
    position: absolute;
    top: 25px;
    left: 40px;
}

.about-description p{
    position: absolute;
    left: 70px;
    bottom: 70px;
}

.contact-us {
    position: absolute;
    scale: 55%;
    left: 80px;
    bottom: -250px;
}

.more-info {
    position: absolute;
    scale: 55%;
    left: 250px;
    bottom: -250px;
}

.logo-about{
    position: absolute;
    right: -160px;
    scale: 15%;
    bottom: -105px;
}

.socials {
    position: relative;
    align-items: center;
    justify-content: center;
    top: -280px;
    right: -540px;
    width: 280px;
    height: 270px;
    padding: 5px;
}

.socials h2{
    position: absolute;
    left: 0px;
}

.links {
    position: relative;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    top: 70px;
    left:20px
}

a{
    text-decoration: none;
}

.ig{
    position: absolute;
    scale: 85%;
    top: 0px;
}

.ig p{
    position: absolute;
    text-decoration: none;
    font-size: 17px;
    left: 76px;
    top: -7px;
    white-space: nowrap;
}

.linkTree {
    position: absolute;
    left: -5px;
    scale: 85%;
    top: 50px;
}

.linkTree p{
    position: absolute;
    font-size: 17px;
    white-space: nowrap;
    left: 81px;
    top: -7px;
}

.etsy {
    position: absolute;
    top: 105px;
    left: 2px;
    scale: 80%;
}

.etsy p{
    position: absolute;
    font-size: 18px;
    top: -12px;
    left: 78px;
    white-space: nowrap;
}

.email-socials {
    position: absolute;
    scale: 85%;
    top: 155px;
    left: -3px;
}

.email-socials p{
    position: absolute;
    top: -12px;
    left: 80px;
    font-size: 17px;
}

.links p:hover{
    text-decoration: underline;
}

.subscribe {
    position: relative;
    align-items: center;
    max-width: 100%;
    top: 1525px;
    width: 100%;
    height: 300px;
}

.subscribe-image {
    display: block;
    position: absolute; 
    z-index: -1;
    width: 100%;
    height: 450px;
    overflow: hidden;
    filter: saturate(110%) contrast(110%);
    object-fit: cover;
    top: -5%;
}

.toner{
    position: absolute;
    top: -5%;
    opacity: 0.4;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    background: #102252;
    mix-blend-mode: multiply;
    align-items: center;
}

.subscribe h1 {
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    scale: 80%;
    color: white;
    font-size: 45px;
} 


.subscribe h6 {
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    scale: 60%;
    color: white;
    font-size: 25px;
    font-weight: 400;
} 

.service-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
}

.email {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 10px;
}

.email input{
    font-size: 100%;
    outline: none;
    border: 2px solid rgb(221, 221, 221);
    background: transparent;
    opacity: 0.8;
    border-radius: 3px;
    width: 400px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 50%;
    color: white;
    padding-left: 10px;
}

.email input::placeholder {
    position: absolute;
    color: white;
    font-family: Outfit;
    top: 7px;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 50%;
    left: 10px;
}

.subscribe a {
    position: relative;
    margin: 0px 20px 0 20px;
}

.subscribe p {
    color: white;
    font-size: 14px;
}

.subscribe-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: .7;
    top: 40px;
}

.subscribe-icons a {
    position: relative;
    margin: -15 20px 0 20px;
}

.footer-line {
    position: relative;
    width: 100%;
    height: 3px;
    bottom: -80px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(121, 121, 121, 0.25);
}

.footer-name {
    position: relative;
    width: 50%;
    scale: 80%;
    color: white;
    bottom: -90px;
}

.subscribe a:hover{
    text-decoration: underline;
    color: white;
}