body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Racing Sans One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb; 
}
.Heading {
    display: flex;
    align-items: center;
    justify-content: center
}

.Mini-Menu {
    position: absolute; 
    right: 10%; 
    scale: 60%
}

.Title {
    font-family: 'Outfit', sans-serif;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 150%
}

.Home {
    display: flex;
    align-items: center;
    justify-content: center
}

.Welcome{
    scale: 80%;
    margin-left: 5%;
    height: 0px;
    width: 5%
}

.Background {
    position: relative;
    scale: 75%;
    height: 0px;
    margin-right: 5%
}

.BackImage {
    position: absolute;
    top: 1;
    right: 0;
    opacity: 85%
}

.BackHam {
    position: absolute;
    scale: 90%;
    margin: -1400px -1400px -1400px -500px
}