body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Racing Sans One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb; 
    min-width: 900px;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out;
}

/* font */
h1 {
    color: #000;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
}

h2{
    color: #000;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
}
h3{
    color: #000;
    font-family: Racing Sans One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4{
    color: #410000;
    text-align: justify;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h6{
    color: #0F0F15;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

p{
    color: #410000;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, header, .main-header{
    animation: fadeIn 1s ease-in-out;
}

/* header (main-header is in respective locations) */
#navigation{
    position: relative;
    height: 0;
    margin-left: 5%;
    margin-right: 5%;
    scale: 90%;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

#main-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    min-width: 900px;
    height: 75px;
    background-color: white;
    box-shadow: 0px 3px 3px 0px rgba(48, 33, 33, 0.10);
    z-index: 100;
} 

.home-logo{
    position: absolute;
    border: none;
    background-color: transparent;
    left: -480px;
    top: -30px;
    cursor: pointer;
}

a{
    position: absolute;
    text-decoration: none;
}

#navigation h6{
    position: absolute;
    font-size: 20px;
    color: #410000;
    top: -60px;
    left: -350px;
}

.shop-menu{
    position: absolute;
    left: 105px;
}

.about-menu{
    position: absolute;
    left: 200px;
}

#navigation h6:hover{
    color: #a35e5e;
    transition: all .5s ease 0s;
}

.icons{
    position: absolute;
    right: -25px;
}

.icons button{
    position: absolute;
    right: -450px;
    top: -20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.icons svg:hover path{
    fill: #a35e5e;
    transition: all .5s ease 0s;
}

#searchButton{
    left: 290px;
    bottom: -20px;
    width: fit-content;
}

.profile-button{
    left: 350px;
    bottom: -20px;
    scale: 110%;
    width: fit-content;
}

#searchBar{
    position: relative;
    width: 900px;
    height: 50px;
    scale: 90%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    animation: fadeIn 1s ease-in-out;

}

#searchBar input{
    position: absolute;
    width: 650px;
    height: 20px;
    font-size: 100%;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background: #F6F1F1;
    opacity: 0.6;
    border-radius: 3px;
    padding: 10px;
    font-family: Outfit;
    left: 50%;
    transform: translateX(-50%);
    /* flex-shrink: 0;
    opacity: 0.4;
    background: #F6F1F1;
    border: none;
 
    font-size: 16px;

    border-radius: 3px; */
}

#searchBar :is(input:focus, input:valid) {
    border-color: rgb(200, 150, 152);
}

#searchButtonIcon{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 120px;
    bottom: 10px;
    cursor: pointer;
}

#xOut{
    position: absolute;
    right: -100px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    right: 70px;
    bottom: 13px;
    scale: 80%;
}

.subscribe {
    position: relative;
    align-items: center;
    top: auto;
    width: 100%;
    height: 300px;
}

.subscribe-image {
    display: block;
    position: absolute; 
    z-index: -1;
    width: 100%;
    height: 450px;
    overflow: hidden;
    filter: saturate(110%) contrast(110%);
    object-fit: cover;
    top: -5%;
}

.toner{
    position: absolute;
    top: -5%;
    opacity: 0.4;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    background: #102252;
    mix-blend-mode: multiply;
    align-items: center;
}

.subscribe h1 {
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    scale: 80%;
    color: white;
    font-size: 45px;
} 


.subscribe h6 {
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    scale: 60%;
    color: white;
    font-size: 25px;
    font-weight: 400;
} 

.sub-email {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 40px;
}

.sub-email form{
    position: absolute;
    width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-email input{
    font-size: 100%;
    outline: none;
    border: 2px solid rgb(221, 221, 221);
    background: transparent;
    opacity: 0.8;
    border-radius: 3px;
    width: 400px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 50%;
    color: white;
    padding-left: 10px;
}

.sub-email input::placeholder {
    position: absolute;
    color: white;
    font-family: Outfit;
    top: 7px;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 50%;
    left: 10px;
}

#enterEmail{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 5px;
    scale: .8;
}

.policies {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
}

.subscribe a {
    position: relative;
    margin: 0px 20px 0 20px;
}

.subscribe p {
    color: white;
    font-size: 14px;
}

.socials-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: .7;
    top: 80px;
}

.socials-icons a {
    position: relative;
    margin: -15 20px 0 20px;
}

.footer-line {
    position: relative;
    width: 100%;
    height: 3px;
    bottom: -130px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(121, 121, 121, 0.25);
}

.footer-name {
    position: relative;
    width: 50%;
    scale: 80%;
    color: white;
    bottom: -140px;
}

.subscribe a:hover{
    text-decoration: underline;
    color: white;
}

.subscribe {
    position: relative;
    align-items: center;
    top: auto;
    width: 100%;
    height: 300px;
}