body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Racing Sans One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb; 
    min-width: 800px;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out; 
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out;
}

/* font */
h1 {
    color: #000;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
}

h6{
    color: #0F0F15;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, header {
    animation: fadeIn 1s ease-in-out;
}