body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Racing Sans One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb; 
    min-width: 900px;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out;
}

/* font */
h1 {
    color: #000;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
}

h2{
    color: #000;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
}

h6{
    color: #0F0F15;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

p{
    color: #410000;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, header {
    animation: fadeIn 1s ease-in-out;
}

/* header (main-header is in respective locations) */
#navigation{
    position: relative;
    height: 0;
    margin-left: 5%;
    margin-right: 5%;
    scale: 90%;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.home-logo{
    position: absolute;
    border: none;
    background-color: transparent;
    left: -480px;
    top: -30px;
    cursor: pointer;
}

a{
    position: absolute;
    text-decoration: none;
}

#navigation h6{
    position: absolute;
    font-size: 20px;
    color: #410000;
    top: -60px;
    left: -350px;
}

.shop-menu{
    position: absolute;
    left: 85px;
}

.about-menu{
    position: absolute;
    left: 170px;
}

.icons button{
    position: absolute;
    right: -450px;
    top: -20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#searchButton{
    left: 290px;
    bottom: -20px;
    width: fit-content;
}

.profile-button{
    left: 350px;
    bottom: -20px;
    scale: 110%;
    width: fit-content;
}

#searchBar{
    position: relative;
    width: 900px;
    height: 50px;
    scale: 90%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    animation: fadeIn 1s ease-in-out;

}

#searchBar input{
    position: absolute;
    width: 650px;
    height: 20px;
    font-size: 100%;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background: #F6F1F1;
    opacity: 0.6;
    border-radius: 3px;
    padding: 10px;
    font-family: Outfit;
    left: 50%;
    transform: translateX(-50%);
    /* flex-shrink: 0;
    opacity: 0.4;
    background: #F6F1F1;
    border: none;
 
    font-size: 16px;

    border-radius: 3px; */
}

#searchBar label{
    font-family: Outfit;
    font-size: 90%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
    left: 115px;
}

#searchBar :is(input:focus, input:valid) {
    border-color: rgb(200, 150, 152);
}

#searchButtonIcon{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 120px;
    bottom: 10px;
    cursor: pointer;
}

#xOut{
    position: absolute;
    right: -100px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    right: 70px;
    bottom: 13px;
    scale: 80%;
}